*,
*::after,
*::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
}

body {
		font-size: 20px;
		line-height: 1.4;
		color: rgb(144, 162, 148);
		background: #1d1f20;
}

.preview {
		display: block;
		position: relative;
		z-index: 6;
		width: 200px;
		height: 200px;
		margin: 20px auto;
		text-align: center;
		border: 2px solid rgb(33, 122, 105);
		border-radius: 5px;
		overflow: hidden;
}

.preview img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		display: inline-block;
		width: auto;
		max-height: 200px;
		margin: auto;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
}

.file-upload-wrapper {
		position: relative;
		z-index: 5;
		display: block;
		width: 250px;
		height: 30px;
		margin: 5px auto;
		border-right: 2px dotted rgb(33, 122, 105);
		border-bottom: 2px dotted rgb(33, 122, 105);
		border-left: 2px dotted rgb(33, 122, 105);
}

.field-file-upload-native,
.field-file-upload {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
		cursor: pointer;
}

.field-file-upload-native:focus,
.field-file-upload:focus {
		outline: none;
}

.field-file-upload {
		z-index: 10;
		padding: 5px 15px 8px;
		overflow: hidden;
		font-size: 14px;
		line-height: 1.4;
		cursor: pointer;
		text-align: center;
		letter-spacing: 1px;
		text-overflow: ellipsis;
		color: rgb(144, 162, 148);
		border: 0;
		background-color: transparent;
}

.field-file-upload-native {
		z-index: 15;
		opacity: 0;
}















.bttn {
   
	margin-top: 15px;
	background-color:red;
	margin-left: 25%;
	text-indent:0;
	display:block;
	color:#ffffff;
	height:50px;
	line-height:50px;
	width: 50%;
	text-decoration:none;
	text-align:center;
	margin:center;
}.bttn:hover {
	background-color:#5177c2;
}.bttn:active {
	position:relative;
	top:1px;
}